.chat {
    height: 464px;
    overflow-y: scroll;
}

.chat__list {
    padding: 0 20px;
    list-style: none;
}

.chat__item {
    margin-bottom: 30px;
}

.chat__message {
    position: relative;
    margin-bottom: 10px;

    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;

    font-size: 15px;
    
    transition: all 0.2s;
}

.chat__message:hover {
    background-color: rgba(209, 216, 224, 0.4);
}

.chat__message:hover .chat__message-buttons {
    display: block;
}

.chat__message-author {
    margin-bottom: 0;

    font-weight: bold;
}

.chat__message-time {
    font-size: 10px;
}

.chat__message-buttons {
    position: absolute;
    top: 50%;
    right: 10px;

    transform: translateY(-50%);
    display: none;
}

.chat__message-text {
    margin-top: 10px;
    margin-bottom: 0;
}

