.form {
    box-sizing: border-box;
    height: 198px;
    padding: 5px 10px;
    
    background-color: rgba(209, 216, 224, 0.4);
}


.form__author,
.form__message {
    display: block;

    box-sizing: border-box;
    border: none;
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 6px 8px;

    font-family: inherit;
    font-size: 12px;

    outline: none;
}

.form__author:focus,
.form__message:focus {
    border-color: #7ed6df;
}

.form__label {
    display: inline-block;

    margin-bottom: 4px;

    font-size: 14px;
}

.form__author {
    margin-bottom: 5px;

    height: 28px;
}

.form__message {
    margin-bottom: 10px;

    height: 65px;
    width: 100%;

    line-height: 14px;
}

.form__submit {
    margin: 0 auto;
}


